

.v-input--selection-controls .v-input__slot > .v-label, .v-input--selection-controls .v-radio > .v-label {
    top:6px !important
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}


.card2 {
  display: block;
  top: 0px;
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  text-align: center;
  box-shadow: 0px 2px 3px rgba(38, 38, 38, 0.2);



  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    background-color: white;
  }


  .card-icon{
    img{
      width:50px
    }
  }
}

.blurry-text {
   text-shadow: 0 0 32px white;
   color: transparent;
}


//  h3 {
//   color: #262626;
//   font-size: 17px;
//   line-height: 24px;
//   font-weight: 700;
//   margin-bottom: 4px;
//  }

//  p {
//   font-size: 17px;
//   font-weight: 400;
//   line-height: 20px;
//   color: #666666;

//   &.small {
//     font-size: 14px;
//   }
//  }

 
h1.blog-head a {
    color: #000 !important;
    text-decoration: none !important;
    font-weight: 900 !important;
}

a:hover{
  text-decoration: none !important;
}


//sidebar
.sidebar .dropdown-toggle {
	width: 100%;
}
.sidebar .dropdown-menu {
	width: 100%;
}

@media (min-width: 768px) {
	.sidebar.sidebar-sm .dropdown-toggle {
		display: none;
	}
	.sidebar.sidebar-sm .dropdown-menu {
		border-width: 0px;
		box-shadow: none;
		display: block;
		position: relative;
		width: 100%;
		z-index: 0;
	}
	.sidebar.sidebar-sm .dropdown-menu .dropdown-header {
		font-size: 16px;
		font-weight: 600;
    padding: 15px 10px 10px;
	}
	.sidebar.sidebar-sm .dropdown-menu .dropdown-header:first-child {
		padding-top: 0px;	
	}
	.sidebar.sidebar-sm .dropdown-menu .divider {
		display: none;	
	}
	.sidebar.sidebar-sm .dropdown-menu li a {
		position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
	}
	.sidebar.sidebar-sm .dropdown-menu li a:focus, 
	.sidebar.sidebar-sm .dropdown-menu li a:hover {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
	}
	.sidebar.sidebar-sm .dropdown-menu li a:focus, 
	.sidebar.sidebar-sm .dropdown-menu li a:hover {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
	}
	.sidebar.sidebar-sm .dropdown-menu li.active a, 
	.sidebar.sidebar-sm .dropdown-menu li.active a:focus, 
	.sidebar.sidebar-sm .dropdown-menu li.active a:hover {
    z-index: 2;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
	}
}
@media (min-width: 992px) {
	.sidebar.sidebar-md .dropdown-toggle {
		display: none;
	}
	.sidebar.sidebar-md .dropdown-menu {
		border-width: 0px;
		box-shadow: none;
		display: block;
		position: relative;
		width: 100%;
		z-index: 0;
	}
	.sidebar.sidebar-md .dropdown-menu .dropdown-header {
		font-size: 16px;
		font-weight: 600;
    padding: 15px 10px 10px;
	}
	.sidebar.sidebar-md .dropdown-menu .dropdown-header:first-child {
		padding-top: 0px;	
	}
	.sidebar.sidebar-md .dropdown-menu .divider {
		display: none;	
	}
	.sidebar.sidebar-md .dropdown-menu li a {
		position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
	}
	.sidebar.sidebar-md .dropdown-menu li a:focus, 
	.sidebar.sidebar-md .dropdown-menu li a:hover {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
	}
	.sidebar.sidebar-md .dropdown-menu li a:focus, 
	.sidebar.sidebar-md .dropdown-menu li a:hover {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
	}
	.sidebar.sidebar-md .dropdown-menu li.active a, 
	.sidebar.sidebar-md .dropdown-menu li.active a:focus, 
	.sidebar.sidebar-md .dropdown-menu li.active a:hover {
    z-index: 2;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
	}
}
@media (min-width: 1200px) {
	.sidebar.sidebar-lg .dropdown-toggle {
		display: none;
	}
	.sidebar.sidebar-lg .dropdown-menu {
		border-width: 0px;
		box-shadow: none;
		display: block;
		position: relative;
		width: 100%;
		z-index: 0;
	}
	.sidebar.sidebar-lg .dropdown-menu .dropdown-header {
		font-size: 16px;
		font-weight: 600;
    padding: 15px 10px 10px;
	}
	.sidebar.sidebar-lg .dropdown-menu .dropdown-header:first-child {
		padding-top: 0px;	
	}
	.sidebar.sidebar-lg .dropdown-menu .divider {
		display: none;	
	}
	.sidebar.sidebar-lg .dropdown-menu li a {
		position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
	}
	.sidebar.sidebar-lg .dropdown-menu li a:focus, 
	.sidebar.sidebar-lg .dropdown-menu li a:hover {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
	}
	.sidebar.sidebar-lg .dropdown-menu li a:focus, 
	.sidebar.sidebar-lg .dropdown-menu li a:hover {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
	}
	.sidebar.sidebar-lg .dropdown-menu li.active a, 
	.sidebar.sidebar-lg .dropdown-menu li.active a:focus, 
	.sidebar.sidebar-lg .dropdown-menu li.active a:hover {
    z-index: 2;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
	}
}